torch
torchvision
numpy
pandas
open3d
matplotlib
torchmetrics
iopath
scikit-image
imageio
plotly
opencv-python
black
usort
flake8
flake8-bugbear
flake8-comprehensions
wheel
setuptools
ninja
grad-cam
trimesh
wandb